/* Used in accountSetup.html*/

/*
  Code copied/modified from "Credit Card Payment Form" by Adam Quinlan
  Original source: https://codepen.io/quinlo/pen/YONMEa
*/
#generatecard{
    cursor: pointer;
    float: right;
    font-size: 12px;
    color: var(--cc-sand);
    padding: 2px 4px;
    background-color: var(--cc-dark-storm);
    border-radius: 4px;
    float:right;
}


.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }